/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.flex {
    display: flex;
}

.fl {
    float: left;
}

body {
    min-width: 1440px;
}

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #region Utility */

/* #region Spacers */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mside-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* #endregion */

/* #region Widths */

.col100 {
    width: 100%;
}

.col80 {
    width: 80%;
}

.col50 {
    width: 50%;
}

.col20 {
    width: 20%;
}

/* #endregion */

/* Colors */

/* Texts */

/* #region Alignments */

.align-r {
    text-align: right;
}

/* #endregion */

/* #endregion */

/* #region Debug */

.debug header {
    height: 20px;
    background-color: aqua;
}

.debug .top_buttons {
    background-color: blue;
}

.debug .speaker_view {
    height: 20px;
    width: 60px;
    background-color: brown;
}

.debug .full_screen {
    height: 20px;
    width: 25px;
    background-color: brown;
}

/* #endregion */

/* #region Header */

/* #endregion */

/* #region Main */

.top_buttons {
    justify-content: flex-end;
}

/* #endregion */

/* #region Footer */

/* #endregion */