/* #region Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.flex {
    display: flex;
}

.fl {
    float: left;
}

body {
    min-width: 1440px;
}

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #region Utility */

/* #region Spacers */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mside-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* #endregion */

/* #region Widths */

.col100 {
    width: 100%;
}

.col80 {
    width: 80%;
}

.col50 {
    width: 50%;
}

.col20 {
    width: 20%;
}

/* #endregion */

/* #region Colors */

.redish {
    background-color: #fc605c;
    border: 1px solid #de4846;
}

.yellowish {
    background-color: #FDBE41;
    border: 1px solid #DEA02D;
}

.greenish {
    background-color: #35C94A;
    border: 1px solid #21AA35;
}

/* #endregion */

/* Texts */

/* #region Alignments */

.align-r {
    text-align: right;
}

/* #endregion */

/* #endregion */

/* #region Debug */

.debug header {
    height: 20px;
    background-color: aqua;
}

.debug .top_buttons {
    background-color: blue;
}

.debug .speaker_view {
    height: 20px;
    width: 60px;
    background-color: brown;
}

.debug .full_screen {
    height: 20px;
    width: 25px;
    background-color: brown;
}

.debug .grid_body {
    background-color: crimson;
    width: 90%;
    /* height: 700px; */
    margin: auto;
    margin-top: 1rem;
}

.debug .bot_buttons {
    height: 60px;
    background-color: black;
}

.debug .button {
    background-color: chocolate;
    width: 50px;
    height: 60px;
}

.debug .button_big {
    width: 100px;
    background-color: chocolate;
    height: 60px;
}

/* #endregion */

/* #region Header */

.handler {
    background-color: #dcdcdc;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.handler_body {
    position: relative;
}

.handler_buttons {
    margin-left: 1rem;
}

.circle_button {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: .2rem;
}

.handler_text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* #endregion */

/* #region Main */

/* #region Grid */

.top_buttons {
    justify-content: flex-end;
}

.grid_body {
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    width: 20%;
}

.user img {
    width: 100%;
    padding: .5rem;
}

/* #endregion */

/* #region Bottom Buttons */

.bot_buttons {
    justify-content: space-between;
}

.button {
    margin: 0 1rem;
}

/* #endregion */

/* #region Prefab */

/* #endregion */

/* #endregion */

/* #region Footer */

/* #endregion */